{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="span10 offset1">
      <div class="well">
        <div class="slideshare-content">
          <div class="slideshare-embed-container">
            <iframe src="http://www.slideshare.net/slideshow/embed_code/26295035"
             frameborder="0" marginwidth="0" marginheight="0" scrolling="no" 
             style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" 
             allowfullscreen webkitallowfullscreen mozallowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
